@media screen and (max-width: 870px){
    
     main{
          display: flex;
          flex-direction: column;               
          background-image: url(../images/bg-pattern-mobile.svg);   
          background-position: center 0;
          background-size: 60rem;
          margin-top: 26rem;
          padding: 0;
      }
      .card__image{
         overflow:visible;
      }
      .card__image .img-desktop {         
          display: none;         	
     }
     .card__image .img-mobile{
          display: block;
          position: relative;
          margin: 0 auto;              
	     transform: translateY(-28rem);	
	     width: 60rem;               
	     height: auto;	
     }
     .card__box {
          display: none;          
      }
     .right{
          position: relative;
          transform: translateY(-13rem);
          padding-top: 0;
      }
     .card__image,
     .right {
     	flex: none;
}
      .right header{
           text-align: center;
      }
     .accordions{          
          height: 100%;
          overflow-y: none;
          padding: 0 10%;
     }
     .right h1{
          font-size: 7rem;
          margin-bottom: 4rem;
     }
     .right .item{
          padding-top: 3rem;          
     }
     .right button{          
          padding: 0.3rem;
          font-size: 2.7rem;          
     }
     .right .panel p {
          font-size: 2rem;
          line-height: 1.4;
          padding-bottom: 1rem;
         color: var(--Dark-grayish-blue);
     }

}

@media screen and (max-width: 730px){
     main{           
          background-size: 40rem; 
          margin-top: 15rem;        
      }
     .card__image .img-mobile{                     
	     transform: translateY(-18rem);	
	     width: 40rem;          	     	
     }
     .right{         
          transform: translateY(-9rem);
          
      }
      .right button{          
          font-size: 2rem;          
     }
     .right .panel p {
          font-size: 1.8rem;
          line-height: 1.4;
          padding-bottom: 1rem;
         color: var(--Dark-grayish-blue);
     }

}
@media screen and (max-width: 510px){
     main{           
          background-size: 30rem; 
          margin-top: 8rem;        
      }
     .card__image .img-mobile{                     
	     transform: translateY(-14rem);	
	     width: 30rem;	
          min-width: 30rem; 	     	
     }
     .right{         
          transform: translateY(-6rem);
          
      }
      .right button{           
          font-size: 1.3rem;          
     }
     .right .panel p {
          font-size: 1.2rem;
          line-height: 1.4;
          padding-bottom: 1rem;
         color: var(--Dark-grayish-blue);
     }
     .right h1{
          font-size: 5rem;
         margin-bottom: 1rem;
     }

}